/* COLORS:

    General:
    - Dark Grey:        181818
    - Medium Grey:      a7a7a7
    - Light Grey:       d8d8d8

    Project:
    - Brand Amper:      595959
    - Venue Intel:      80c448
*/

/*------------------------------------------------------------------------------
    Bootstrap Stuff
------------------------------------------------------------------------------*/

.container {
    width: 960px;
}

/*------------------------------------------------------------------------------
    Typography
------------------------------------------------------------------------------*/

body {
    font-family: 'adobe-garamond-pro', Garamond, sans-serif;
    color: #181818;
}

h1 {
    font-size: 32px;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    color: #a7a7a7;
}

h3 {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
}

p {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}

.white {
    color: white;
}

.footer {
    font-size: 16px;
}

.right {
    text-align: right;
}

/*------------------------------------------------------------------------------
    Layout
------------------------------------------------------------------------------*/

.break {
    width: 100%;
    height: 100px;
}

.portfolio-item {
    text-align: center;
    position: relative;
    height: 450px;
}

.portfolio-item img {
   margin: 0;
   height: 360px;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
}

.title-name {
    position: relative;
    margin: 30px 0px 5px 0px;
}

.title-job {
    position: relative;
    margin: 0px 0px 50px 0px;
}

.para-lead {
    line-height: 32px;
}

.side-face {
    position: relative;
    top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /*border: 4px #a7a7a7 solid;*/
    overflow: hidden;
}

.side-list {
    position: relative;
    top: 50px;
    list-style-type: none;
    padding-left: 0px;
    line-height: 24px;
    font-size: 16px;

}

/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/

.bg-venue-intel {
    background-color: #80c448;
}

.bg-brand-amper {
    background-color: #595959;
}

.bg-shopping-list {
    background-color: #3498DB;
}

.bg-quotes {
    background-color: #000000;
}





































/*------------------------------------------------------------------------------
    Layout
------------------------------------------------------------------------------*/
