body {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 36rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

h1 {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  border-bottom: 2px dashed black;
}

p, li {
  line-height: 1.8;
}

li {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 2px dashed black;

  &:hover {
    border-bottom: 2px solid black;
  }
}