---
title: Tom Pritchard
---

<h1>Tom Pritchard</h1>

<p><strong>Hey, I'm Tom</strong>. Nice to meet you! ✨</p>

<p>I'm a software engineering consultant, focusing on large, enterprise Ruby-on-Rails codebases.</p>

<p>Does your organization have an interesting problem that you think I might be able to help out with? <a href="mailto:hi@tpritc.com">Let me know!</a></p>

<p>Here are some of the cool projects I've worked on recently:</p>
<ul>
  <li>I co-founded Tandem Labs in May 2017, and built <a href="https://asktandem.com" target="_blank">University Assistant</a>, a tool for universities to reach out and meet their students where they are. We sold Tandem Labs and University Assistant in March 2020.</li>
  <li>I created <a href="https://github.com/tpritc/identifiable" target="_blank">Identifiable</a>, a quick-and-easy way to add unique, random public-facing identifiers for records in your Ruby-on-Rails applications.</li>
  <li>I created <a href="https://github.com/tpritc/verboten_keys" target="_blank">Verboten Keys</a>, a last of defense to help prevent you and your team from accidentally leaking private information via your Rails and Sinatra APIs.</li>
</ul>

<p>You can find me on <a href="https://twitter.com/tpritc" target="_blank">Twitter</a> and <a href="https://github.com/tpritc" target="_blank">GitHub</a> as @tpritc. Say hi!

<p>I use <a href="https://pronoun.is/he">he/him pronouns</a>.</p>